body{
  margin: 0;
  padding: 0;
}
.main-divi{
  justify-content: center;
  margin: 50px 40px;
  display: flex;
}
.maind{
  background: red;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}
.container{
  width: 50%;
  position: relative;
  background: purple;
  display: none;
}
.rightd{
  background: yellow;
  min-height: 100px;
  margin-right: 10px;
  width: 50%;
}
.leftd{
  background: greenyellow;
  min-height: 100px;
  width: 50%;
}
.horizontal{
  display: flex;
  flex: auto;
  z-index: 1;
}
.otherd{
  background: orangered;
  width: 40%;
  min-height: 100px;
  margin-left: 20px;
}
