*{
  margin: 0;
  padding: 0;
  font-family: my;
  src: url(/news-homepage-main/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body{
  padding: 0;
  margin: 50px 50px;
}
nav{
  position: sticky;
  margin: 30px 10px;
  z-index: 1;
  display: flex;
}
.nav-menu{
  flex: 1;
  text-align: right;
}
.nav-menu ul li{
  list-style: none;
  text-align: right;
  display: inline-block;
  margin: 5px;
}
.nav-menu ul li a {
  text-decoration: none;
}
.nav-menu ul li a:hover{
  color: brown;
}
.nav-menu ul li a:active{
  color: greenyellow;
}